* {
/*  outline: 2px solid red;    */
/*  padding: 0px;              */
/*  margin: 5px;               */
/*  box-sizing: border-box;    */
  }
  
  body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 32px;
  font-weight: 900;
  height: 72px;
  background: darkmagenta;
  color: white;
}

.mainflex {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.leftside {
  flex-shrink: 0;
  padding: 16px;
  width: 10%;
  min-width: 140px;
  background: royalblue;
  box-sizing: border-box;
}

.container1 {
  padding: 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  flex: 1;
}

.item1 {
  border: 1px solid blue;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 18px;
  padding: 16px;
  width: 300px;
}

.rightside {
  flex-shrink: 0;
  width: 10%;
  min-width: 140px;
  background: royalblue;
  box-sizing: border-box;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  background: #eee;
  color: darkmagenta;
}
